body{
    background: blanchedalmond;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera{
    width: 90%;
    height: 500px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 20px;
    border: 20px solid rgb(202, 38, 93);
    border-radius: 8px;
}
#header{
    
    border-radius: 8px;
    padding: 50px 20px 50px 20px;
    background: pink;
    font-size: 50px;
    font-family: fantasy;
    font-weight: bold;
    color: purple;
    text-transform: uppercase;

}